---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}

    <main id="main">
      {{ content }}

      <div class="footer">
        <div class="container">
         <p class="footer-entry">版权所属：<a href="http://qylib.com/" target="_blank">清远市图书馆</a></p>
          <p class="footer-entry">Buit by 技术部© Since 2016 Timon V2.0 （date：2016.09.07） </p>

  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="fanpengxian.github.io{{page.url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"fanpengxian"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

        </div>
      </div>
    </main>

    <button id="menu">
      <span id="menu-icons"></span>
    </button>

    {% include scripts.html %}
  </body>
</html>
